*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}
.header{
    font-size: 50px;
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.logo{
    vertical-align: middle;
    margin-left: 20px;
}
.title-logo{
    vertical-align: middle;
}
.container{
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    border: 1px;
    height: 550px;
    margin-top: 40px;
    background-color: white;
    border-radius: 5px;
}
.button-one{
    height: 30px;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #47adf1;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
}
.button-two{
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    color: lightgray;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
hr{
    border:0;
    color: lightgray;
    background: lightgray;
    height: 1px;
}
.title-list{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 60px;
}
.valid{
    height: 25px;
    width: 25px;
    border: #64bfa9 solid;
    color: #64bfa9;
    margin-right: 10px;
    border-radius: 30px;
    margin-left: 60px;
    display: inline-block;
    text-align: center;
}
ol{
    list-style: none;
    margin-top: 20px;
}
ul{
    list-style: none;
    margin-top: 20px;
}
.backblue{
    background-color: #47adf1;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    
}
.subtitle-list{
    font-size: 20px;
}