*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(200deg 20% 97.06%);
}
.header{
    font-size: 50px;
    margin-left: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}
.logo{
    vertical-align: middle;
    margin-left: 20px;
}
.title-logo{
    vertical-align: middle;
}
.container{
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    border: 1px;
    height: 650px;
    margin-top: 40px;
    background-color: white;
    border-radius: 5px;
}
.button-one{
    height: 30px;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #47adf1;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 5px;
}
.button-two{
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    color: lightgray;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}
hr{
    border:0;
    color: hsl(200deg 20% 97.06%);
    background: hsl(200deg 20% 97.06%);
    height: 1px;
}
.title-list{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 60px;
}
.valid{
    height: 25px;
    width: 25px;
    border: #64bfa9 solid;
    color: #64bfa9;
    margin-right: 10px;
    border-radius: 30px;
    margin-left: 60px;
    display: inline-block;
    text-align: center;
}
ol{
    list-style: none;
    margin-top: 20px;
}
ul{
    list-style: none;
    margin-top: 20px;
}
.backblue{
    background-color: #47adf1;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    
}
.subtitle-list{
    font-size: 20px;
}
.backviolet{
    background-color: rgb(156 114 228);
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}
.invalid{
    height: 25px;
    width: 25px;
    border: rgb(236 99 92) solid;
    color: rgb(236 99 92);
    margin-right: 10px;
    border-radius: 30px;
    margin-left: 60px;
    display: inline-block;
    text-align: center;
}
.backgreen{
    background-color: #64bfa9;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}
.backorange{
    background-color: orange;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}
.sublist{
    margin-top: 20px;
}
.backrose{
    background-color: hsl(328.21deg 60% 61.76%);
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}
.backgreen-two{
    background-color: hsl(69.2deg 68.2% 46.86%);
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
}
